
<div id='achievementDiv'>
    <h1>Achievements</h1>

<%
    var achievement = [
            { name: 'First Task', description: 'Create Your First Task' },
            { name: 'First Event', description: 'Create Your First Event' },
            { name: 'Complete Task', description: 'Complete Your First Task' },
            { name: 'All Task', description: 'Complete All Tasks in Your List' },
            { name: 'Speedy', description: 'Complete a Task Before the Day it is Due' }
        ];
  %>



        <ul id="achievementList" style="list-style-type:node">
            <% achievement.forEach(function(achievement) { %>
                <li><img src="images/star.PNG" width="30" height="30"/> <%= achievement.name %> - <%= achievement.description %></li>
            <% }); %>
        </ul>

        <script  type="text/javascript">

          // Add events from the API
          var fetchAchievements = function () {
              $.getJSON("api/achievement/achivements", function (data){
                  $.each(data, function (key, val) {
                    console.log("in");
                    console.log(val.name+"");
                    //if achieved
                    if(val.achieved){
                      $('<li> <img src="images/star.PNG" width="30" height="30">'+val.name +'-'+ val.description+'</li>').prependTo('ul#achievementList');

                    }else{
                      $('<li>'+val.name +'-'+ val.description+'</li>').prependTo('ul#achievementList');
                    }

                  });
              });
          };


            console.log("script");

            $(document).ready(function () {
              //your code here
              fetchAchievements();
            });


        </script>



</div>
