<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id='achievementDiv'>
    <h1><img src="images/ic_stars_black_24dp_2x.png" width="35" height="35"> Achievements</h1>

  <ul id="achievementList" style="list-style: none">
  </ul>
</div>

<script  type="text/javascript">


	// Add events from the API
	var fetchAchievements = function () {
		$.getJSON("api/achievement/", function (data){
			$.each(data, function (key, val) {
  			console.log("in");
  			console.log(val.name+"");
  			//if achieved
  			if(val.achieved){
            $('<li> <img src="images/ic_check_box_black_24dp_2x.png" width="40" height="40"> <b style="color:#8342f4">'+val.name+":</b> "+val.description+'</li>').appendTo('ul#achievementList');
        }else{
          $('<li> <img src="images/ic_check_box_outline_blank_black_24dp_2x.png" width="40" height="40"> <b style="color:#8342f4">'+val.name+":</b> "+val.description+'</li>').appendTo('ul#achievementList');
        }
			});
		});
	};

    // if(val.achieved){
    //         $('<li> <img src="images/star.PNG" width="30" height="30">'+val.name +'-'+ val.description+'</li>').prependTo('ul#achievementList');
    //
    //    }else{
    //        $('<li>'+val.name +'-'+ val.description+'</li>').prependTo('ul#achievementList');
    //    }

	$(document).ready(function () {
		//your code here
		fetchAchievements();
	});

</script>
