<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type='text/javascript' src='js/achievementsType.js'></script>

</head>


<div id='achievementDiv'>
    <h1>Achievements</h1>


        <ul id="achievementList" style="list-style-type:node">
          <script type="text/javascript">
            allAchievements.forEach(function(ach){
              if(ach.achieved){
                  $('<li> <img src="images/ic_check_box_black_24dp_2x.png" width="40" height="40">'+ach.name+'</li>').appendTo('ul#achievementList');
              }else{
                $('<li> <img src="images/ic_check_box_outline_blank_black_24dp_2x.png" width="40" height="40">'+ach.name+'</li>').appendTo('ul#achievementList');
              }
            });
          </script>
        </ul>

        <script  type="text/javascript">

          // Add events from the API
          var fetchAchievements = function () {
              $.getJSON("api/achievement/", function (data){
                  $.each(data, function (key, val) {
                    console.log("in");
                    console.log(val.name+"");
                    //if achieved
                    if(val.achieved){
                      $('<li> <img src="images/star.PNG" width="30" height="30">'+val.name +'-'+ val.description+'</li>').prependTo('ul#achievementList');

                    }else{
                      $('<li>'+val.name +'-'+ val.description+'</li>').prependTo('ul#achievementList');
                    }

                  });
              });
          };


            console.log("script");

            $(document).ready(function () {
              //your code here
              fetchAchievements();
            });


        </script>



</div>
