<header id="header">
    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header">

    </div>
    <!-- end collapse menu -->
    <div id="logo-group" class="pull-left">
        <!--span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span-->
        <h2 id="logo" class="txt-color-white">TaskRacer</h2>
    </div>

    <div id="tab-icons" class="pull-center">
        <ul class="list-inline">
            <li class="active"><a class="tab-icon-item" href="/" data-toggle="tooltip" data-placement="bottom" title="Task Manager"><i class="glyphicon glyphicon-calendar"></i></a></li>
            <li style="padding-left:0;"><a class="tab-icon-item" href="/progress" data-toggle="tooltip" data-placement="bottom" title="Progress"><i class="glyphicon glyphicon-stats"></i></a></li>
        </ul>
    </div>

    <!-- pulled right: nav area -->
    <div class="pull-right">
        <ul class="list-inline">
            <li>&nbsp;&nbsp;&nbsp;
                <span class="font-xs txt-color-white">Task</span>
                <div class="easy-pie-chart txt-color-green easyPieChart" data-percent="86" data-pie-size="45">
                    <span class="percent percent-sign font-xs txt-color-white">86</span>
                </div>
                &nbsp;&nbsp;&nbsp;
            </li>
            <li>&nbsp;&nbsp;&nbsp;
                <span class="font-xs txt-color-white">Event</span>
                <div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="20" data-pie-size="45">

                    <span class="percent percent-sign font-xs txt-color-white">20</span>
                </div>
                &nbsp;&nbsp;&nbsp;
            </li>
        </ul>

    </div>
    <!-- end pulled right: nav area -->

</header>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>