<title>
    <%= title %>
</title>

<meta charset="UTF-8">
<meta name="description" content="TaskRacer - Race your task VROOOOOMMM!">
<meta name="author" content="UoA HCI Group">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Basic Styles -->
<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

<!-- Styles : Caution! DO NOT change the order -->
<link rel="stylesheet" type="text/css" media="screen" href="css/production-plugins.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/production.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/skins.min.css">

<link rel="stylesheet" type="text/css" media="screen" href="css/custom.css">
