<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id='achievementDiv'>
	<div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

		<header>
			<span class="widget-icon">
				<i class="fa fa-star"></i>
			</span>
			<h2>Leadboard</h2>
		</header>
		<div>

			<!-- widget content -->
			<div class="widget-body no-padding">

				<select class="div-toggle" data-target=".my-info-1">
					<option value="daily" data-show=".daily">Daily</option>
					<option value="weekly" data-show=".weekly">Weekly</option>
				</select>

				<div class="my-info-1">
					<!-- Daily table -->
					<div class="daily hide">
						<table>
							<tr>
								<th>Rank</th>
								<th>Name</th>
								<th>Score %</th>
							</tr>
							<tr>
								<td>1</td>
								<td>Sabrina Zafarullah</td>
								<td>95</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Francisco Chang</td>
								<td>84</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Roland Mendel</td>
								<td>68</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Helen Bennett</td>
								<td>50</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Yoshi Tannamuri</td>
								<td>20</td>
							</tr>
						</table>
					</div>

					<!-- Daily table -->
					<div class="weekly hide">
						<table>
							<tr>
								<th>Rank</th>
								<th>Name</th>
								<th>Score %</th>
							</tr>
							<tr>
								<td>1</td>
								<td>Francisco Chang</td>
								<td>75</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Sabrina Zafarullah</td>
								<td>60</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Roland Mendel</td>
								<td>58</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Helen Bennett</td>
								<td>45</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Yoshi Tannamuri</td>
								<td>35</td>
							</tr>
						</table>
					</div>
				</div>

			</div>
			<!-- end widget content -->

		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).on('change', '.div-toggle', function () {
		var target = $(this).data('target');
		var show = $("option:selected", this).data('show');
		$(target).children().addClass('hide');
		$(show).removeClass('hide');
	});
	$(document).ready(function () {
		$('.div-toggle').trigger('change');
	});
</script>