<aside id="left-panel">

    <nav>
        <ul>
            <li>
                <a href="#" title="Dashboard">
                    <i class="fa fa-lg fa-fw fa-home"></i>
                    <span class="menu-item-parent">Dashboard</span>
                    <span class="badge pull-right inbox-badge margin-right-13">10</span>
                </a>
            </li>
            <li>
                <a href=".html"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent">Widgets</span></a>
            </li>
        </ul>
    </nav>

</aside>