<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon">
                <i class="fa fa-bar-chart-o"></i>
            </span>
            <h2>Task Trends</h2>
        </header>

        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">

                <div id="year-graph" class="chart no-padding"></div>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

    <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        <header>
            <span class="widget-icon">
                <i class="fa fa-pie-chart"></i>
            </span>
            <h2>Daily Progress</h2>
        </header>

        <div style="text-align: center;">
            <div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="0" data-pie-size="80">
                <p>Sunday</p>
                <span class="percent percent-sign txt-color-blue font-md" style="margin-top: 0px;">0</span>
            </div>
            <div class="easy-pie-chart txt-color-pinkDark easyPieChart" data-percent="33" data-pie-size="100">
                <p>Monday</p>
                <span class="percent percent-sign txt-color-pinkDark font-md" style="margin-top: 0px;">33</span>
            </div>
            <div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="0" data-pie-size="80">
                <p>Tuesday</p>
                <span class="percent percent-sign txt-color-blue font-md" style="margin-top: 0px;">0</span>
            </div>
            <div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="0" data-pie-size="80">
                <p>Wednesday</p>
                <span class="percent percent-sign txt-color-blue font-md" style="margin-top: 0px;">0</span>
            </div>
            <div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="0" data-pie-size="80">
                <p>Thursday</p>
                <span class="percent percent-sign txt-color-blue font-md" style="margin-top: 0px;">0</span>
            </div>
            <div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="0" data-pie-size="80">
                <p>Friday</p>
                <span class="percent percent-sign txt-color-blue font-md" style="margin-top: 0px;">0</span>
            </div>
            <div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="0" data-pie-size="80">
                <p>Saturday</p>
                <span class="percent percent-sign txt-color-blue font-md" style="margin-top: 0px;">0</span>
            </div>
        </div>

    </div>
</div>

<!-- EASY PIE CHARTS -->
<script src="js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

<!-- Morris Chart Dependencies -->
<script src="js/plugin/morris/raphael.min.js"></script>
<script src="js/plugin/morris/morris.min.js"></script>

<script type="text/javascript">
    // PAGE RELATED SCRIPTS

    /*
     * Run all morris chart on this page
     */
    $(document).ready(function () {

        pageSetUp();

        if ($('#year-graph').length) {
            var day_data = [{
                "period" : getFormattedDate(0),
                "numTasks" : 1
            }, {
                "period" : getFormattedDate(1),
                "numTasks" : 0
            }, {
                "period" : getFormattedDate(2),
                "numTasks" : 0
            }, {
                "period" : getFormattedDate(3),
                "numTasks" : 0
            }, {
                "period" : getFormattedDate(4),
                "numTasks" : 0
            }, {
                "period" : getFormattedDate(5),
                "numTasks" : 0
            }, {
                "period" : getFormattedDate(6),
                "numTasks" : 0
            }];
            Morris.Line({
                element : 'year-graph',
                data : day_data,
                xkey : 'period',
                ykeys : ['numTasks'],
                labels : ['Tasks Completed']
            });
        }

        function getFormattedDate(offset) {
            var date = new Date();

            date.setDate(date.getDate() - offset);

            var d = date.getDate();
            var m = date.getMonth()+1;
            var y = date.getFullYear();

            return y + "-" + m + "-" + d;
        }
    })

</script>