

/*
This is the last CSS file which is included. This should overwrite the rest of the predefined styles in both
 */


/* datepicker calendar modal is on top */
#ui-datepicker-div{
    z-index: 1060 !important;
}

/* center the header text so our 2 view icons appear in the center */
#header {
    text-align:center;
}

div#tab-icons {
    float:none;
    margin-top:10px;
}

#tab-icons li:first-child {
    border-right:1px solid white;
}

.glyphicon {
    font-size: 20px;
    color: grey;
}

li.active>a>.glyphicon {
    color:lightskyblue;
}

h1.page-title {
    margin-bottom:12px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 20%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
