<!doctype html>
<html lang="en">

<head>
    <% include ../partials/htmlhead %>
</head>

<body class="no-menu smart-style-1">

    <!-- General JS includes-->
    <% include ../Partials/generalJS %>
        <!-- END GENERAL JS INCLUDES -->
        <div>
            <!-- HEADER -->
            <% include ../partials/header %>
                <!-- END HEADER -->

                <!-- Left panel : Navigation area -->
                <% include ../partials/leftpanel %>
                    <!-- END NAVIGATION -->

                    <!-- MAIN PANEL -->
                    <div id="main" role="main">

                        <!-- MAIN CONTENT -->
                        <div id="content">

                            <div class="row">
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                                    <h1 class="page-title txt-color-blueDark"><i class="fa fa-desktop fa-fw "></i> My Dashboard</h1>
                                </div>
                            </div>

                            <!-- row -->
                            <div class="row">

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <!-- new widget -->
                                    <div class="jarviswidget" id="wid-id-1">

                                        <header>
                                            <h2> Calendar </h2>
                                            <div class="widget-toolbar">
                                                <!-- add: non-hidden - to disable auto hide -->
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-xs" type="button" href="javascript:void(0);" id="td">Day</a>
                                                    <a class="btn btn-xs btn-default" type="button" href="javascript:void(0);" id="ag">Week</a>
                                                    <a class="btn btn-xs btn-default" type="button" href="javascript:void(0);" id="mt">Month</a>
                                                </div>
                                            </div>
                                        </header>

                                        <!-- widget div-->
                                        <div>
                                            <div class="widget-body no-padding">
                                                <!-- content goes here -->
                                                <div class="widget-body-toolbar">
                                                    <div id="calendar-buttons">
                                                        <div class="btn-group">
                                                            <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                                                            <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="calendar">

                                                </div>
                                                <!-- end content -->
                                            </div>
                                        </div>
                                        <!-- end widget div -->
                                    </div>
                                    <!-- end widget -->
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <!-- new widget -->
                                    <div class="jarviswidget" id="wid-id-2">
                                        <header>
                                            <h2> Task List </h2>
                                            <div class="btn-group pull-right">
                                                <a id="btn_add_task" class="btn btn-default btn-circle" style="margin-right:10px"><i class="fa fa-plus"></i></a>
                                            </div>

                                        </header>

                                        <!-- widget div-->
                                        <div>
                                            <div class="widget-body no-padding smart-form">
                                                <!-- content goes here -->
                                                <h5 class="todo-group-title"><i class="fa fa-exclamation"></i> Unsolved Tasks (<small class="num-of-tasks">5</small>)</h5>
                                                <ul id="sortable2" class="todo">
                                                    <li> // This is an example of an event
                                                        <span class="handle"><label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i></label></span>
                                                        <p>
                                                            <a href="javascript:void(0);" class="font-s">call Grandma</a>
                                                            <span class="date">Nov 23, 2013</span>
                                                        </p>
                                                    </li>
                                                </ul>

                                                <h5 class="todo-group-title"><i class="fa fa-check"></i> Completed Tasks Today(<small class="num-of-tasks">1</small>)</h5>
                                                <ul id="sortable3" class="todo">
                                                    <li class="complete">
                                                        <span class="handle"><label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i></label></span>
                                                        <p>
                                                            <a href="javascript:void(0);" class="font-s">Bake cake</a>
                                                            <span class="date">Nov 22, 2013</span>
                                                        </p>
                                                    </li>
                                                </ul>

                                                <!-- end content -->
                                            </div>

                                        </div>
                                        <!-- end widget div -->
                                    </div>
                                    <!-- end widget -->

                                </div>

                            </div>
                            <!-- end row -->

                            <!-- row -->
                            <div class="row">


                            </div>
                            <!-- end row -->

                            <!-- Modal div-->
                            <div id="modal_add_task" title="Add new Entity">
                                <!-- widget div-->
                                <div>
                                    <div class="widget-body">
                                        <!-- content goes here -->
                                        <form id="add-event-form">
                                            <fieldset>

                                                <!-- Title field-->
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label>Name</label>
                                                            <input class="form-control" id="title" name="title" maxlength="40" type="text" placeholder="Item name">
                                                            <p class="note">40 characters max</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Description field-->
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label>Description</label>
                                                            <textarea class="form-control" placeholder="Item description" rows="3" maxlength="255" id="description"></textarea>
                                                            <p class="note">255 characters max</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Task Priority field-->
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label>Select Task Priority</label>
                                                            <div class="btn-group btn-group-justified btn-select-tick" data-toggle="buttons">
                                                                <label class="btn bg-color-darken">
                                                                    <input type="radio" name="priority" id="option1" value="VL">
                                                                    <i class="fa fa-check txt-color-white"></i>
                                                                    <p class="txt-color-white">Very Low</p>
                                                                </label>
                                                                <label class="btn bg-color-blueLight">
                                                                    <input type="radio" name="priority" id="option2" value="L">
                                                                    <i class="fa fa-check txt-color-white"></i>
                                                                    <p class="txt-color-white">Low</p>
                                                                </label>
                                                                <label class="btn bg-color-greenLight">
                                                                    <input type="radio" name="priority" id="option3" value="M" checked>
                                                                    <i class="fa fa-check txt-color-white"></i>
                                                                    <p class="txt-color-white">Medium</p>
                                                                </label>
                                                                <label class="btn bg-color-orange">
                                                                    <input type="radio" name="priority" id="option4" value="H">
                                                                    <i class="fa fa-check txt-color-white"></i>
                                                                    <p class="txt-color-white">High</p>
                                                                </label>
                                                                <label class="btn bg-color-red active">
                                                                    <input type="radio" name="priority" id="option5" value="VH">
                                                                    <i class="fa fa-check txt-color-white"></i>
                                                                    <p class="txt-color-white">Very High</p>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Date and time field-->
                                                <div class="form-group">
                                                    <div class="row">

                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <label class="toggle">
                                                                        <input name="checkbox-toggle" id="allday" type="checkbox" value="true">All Day event
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input class="form-control" id="datefrom" type="text" placeholder="Starts">
                                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input class="form-control" id="timefrom" type="text" placeholder="Time">
                                                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input class="form-control" id="dateto" type="text" placeholder="Ends">
                                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input class="form-control" id="timeto" type="text" placeholder="Time">
                                                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>

                                            </fieldset>
                                        </form>
                                        <!-- end content -->
                                    </div>
                                </div>
                                <!-- end widget div -->
                            </div>
                            <!-- #End of new add task modal-->

                        </div>
                        <!-- END MAIN CONTENT -->

                    </div>
                    <!-- END MAIN PANEL -->
        </div>
        <!-- the following are page-specific js -->
        <!--================================================== -->

        <!-- Time picker -->
        <script src="js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>

        <!-- PAGE RELATED PLUGIN(S) -->
        <script src="js/plugin/moment/moment.min.js"></script>
        <script src="js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>

        <!-- Page inline JS setup -->
        <script type="text/javascript">
            $(document).ready(function () {

                pageSetUp();

                "use strict";

                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();

                var hdr = {
                    left: 'title',
                    center: 'month,agendaWeek,agendaDay',
                    right: 'prev,today,next'
                };

                var initDrag = function (e) {
                    // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                    // it doesn't need to have a start or end

                    // make the event draggable using jQuery UI
                    e.draggable({
                        zIndex: 999,
                        revert: true, // will cause the event to go back to its
                        revertDuration: 0 //  original position after the drag
                    });
                };


                //
                var updateAchievementToDatabase = function (val){
                  var objID = val._id;;
                  console.log("/api/achievement/"+objID);

                  $.ajax({
                    url: "/api/achievement/"+objID,
                    type: 'PUT',
                    data: {
                      name: val.name,
                      description: val.description,
                      id: val.id,
                      achieved: true,
                      dateAchieved: Date.now
                    },
                    success: function(data) {
                      alert("Achievement Complete: \"" + val.name + "\"\n" + val.congratulatoryMessage);
                    }
                  });
                }

              // Add event function
                var addEvent = function (title, priority, description, allday, datefrom, timefrom, dateto,
                    timeto) {
                    title = title.length === 0 ? "Untitled Event" : title;
                    description = description.length === 0 ? "No Description" : description;
                    priority = priority.length === 0 ? "no priority" : priority;
                    allday = allday.length === 0 ? "false" : allday;
                    datefrom = datefrom.length === 0 ? "no date" : datefrom;
                    timefrom = timefrom.length === 0 ? "no time" : timefrom;
                    dateto = dateto.length === 0 ? "no date" : dateto;
                    timeto = timeto.length === 0 ? "no time" : timeto;

                    if (allday == 'true') {
                        /* Post the event to the API */
                        $.post("/api/task/", {
                            title: title,
                            description: description,
                            priority: priority,
                            allday: allday,
                            datefrom: datefrom,
                            dateto: dateto
                        });
                    } else {
                        /* Post the event to the API */
                        $.post("/api/task/", {
                            title: title,
                            description: description,
                            priority: priority,
                            allday: allday,
                            datefrom: datefrom,
                            timefrom: timefrom,
                            dateto: dateto,
                            timeto: timeto
                        });
                    }

                    /* Add the event to the HTML list */
                    var html = $(
                        '<li><span class="handle"><label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i></label></span> <p> <a href="javascript:void(0);" class="font-s"> ' +
                        title + ' </a> <span class="date">Nov 23, 2013</span> </p> </li>').prependTo(
                        'ul#sortable2').hide().fadeIn();

                    $("#sortable2").effect("highlight", 800);

                    initDrag(html);

                    //check if this is the first event that has been created
                    $.getJSON("api/achievement/", function (data){
                      $.each(data, function (key, val) {
                        if (val.id == 2 && !val.achieved) {
                            updateAchievementToDatabase(val);
                        }
                      });
                    });
                };

                /* initialize the events
                 -----------------------------------------------------------------*/
                // Add events from the API
                var fetchEvent = function () {
                    $.getJSON("api/task/", function (data) {
                        $.each(data, function (key, val) {
                            var html = $(
                                '<li class="loadedListItem"><span class="handle"><label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i></label></span> <p> <a href="javascript:void(0);" class="font-s"> ' +
                                val.title + ' </a> <span class="date">' + val.updated +
                                '</span> </p> </li>').prependTo('ul#sortable2');
                            initDrag(html);
                        });
                    });
                };

                // Remove all events from the list
                var removeEvents = function () {
                    $('ul#sortable2').empty();
                };

                removeEvents();
                fetchEvent();


                // Make items draggable
                $('#sortable2 > li').each(function () {
                    initDrag($(this));
                });
                // This seems like it can be manually deleted, because the addevent is called from the modal function instead.

                /* initialize the calendar
                 -----------------------------------------------------------------*/

                $('#calendar').fullCalendar({
                    allDayDefault: true,
                    firstDay: 0,
                    header: hdr,
                    editable: true,
                    droppable: true, // this allows things to be dropped onto the calendar !!!
                    eventSources: [{
                        url: '/api/task/', // use the `url` property
                        error: function () {
                            alert('there was an error while fetching events!');
                        },
                    }],

                    select: function (start, end, allDay) {
                        var title = prompt('Event Title:');
                        if (title) {
                            calendar.fullCalendar('renderEvent', {
                                    title: title,
                                    start: start,
                                    end: end,
                                    allDay: allDay
                                }, true // make the event "stick"
                            );
                        }
                        calendar.fullCalendar('unselect');
                    },

                    eventRender: function (event, element) {
                        if (!event.title == "") {
                            element.find('.fc-title').append("<br/><span class='ultra-light'>" +
                                event.type +
                                "</span>");
                        }
                    },

                    windowResize: function (eventSources, ui) {
                        $('#calendar').fullCalendar('render');
                    },
                });

                $('#calendar-buttons #btn-prev').click(function () {
                    $('.fc-prev-button').click();
                    return false;
                });

                $('#calendar-buttons #btn-next').click(function () {
                    $('.fc-next-button').click();
                    return false;
                });

                $('#calendar-buttons #btn-today').click(function () {
                    $('.fc-today-button').click();
                    return false;
                });

                /* hide default buttons */
                $('.fc-right, .fc-center').hide();

                $('#mt').click(function () {
                    $('#calendar').fullCalendar('changeView', 'month');
                });
                $('#ag').click(function () {
                    $('#calendar').fullCalendar('changeView', 'agendaWeek');
                });
                $('#td').click(function () {
                    $('#calendar').fullCalendar('changeView', 'agendaDay');
                });

                /*
                 * TODO: add a way to add more todo's to list
                 */

                // initialize sortable
                $(function () {
                    $("#sortable2").sortable({
                        handle: '.handle',
                        connectWith: ".todo",
                        update: countTasks
                    }).disableSelection();
                });

                // check and uncheck
                $(document.body).on('click', '.todo .checkbox > input[type="checkbox"]', function () {
                    console.log("in the checkbox onclick!")
                    var $this = $(this).parent().parent().parent();
                    if ($(this).prop('checked')) {
                        $this.removeClass("incomplete");
                        $this.addClass("complete");

                        // remove this if you want to undo a check list once checked
                        //$(this).attr("disabled", true);
                        $(this).parent().hide();

                        // once clicked - add class, copy to memory then remove and add to sortable3
                        $this.slideUp(500, function () {
                            $this.clone().prependTo("#sortable3").effect("highlight", {}, 800);
                            $this.remove();
                            countTasks();
                        });

                        //check if this is the first task completed
                        $.getJSON("api/achievement/", function (data){
                          $.each(data, function (key, val) {
                            if (val.id == 3 && !val.achieved) {
                              putToDatabase(val);

                            }
                          });
                        });


                    } else {
                        // insert undo code here...
                    }

                })




                // count tasks
                function countTasks() {
                    $('.todo-group-title').each(function () {
                        var $this = $(this);
                        $this.find(".num-of-tasks").text($this.next().find("li").size());
                    });
                }
                // Open the Add task modal
                $('#btn_add_task').click(function () {
                    $('#modal_add_task').dialog('open');
                    return false;
                });

                // Add task modal
                $("#modal_add_task").dialog({
                    autoOpen: false,
                    modal: true,
                    width: 800,
                    title: "Add New Task",
                    buttons: [{
                        html: "Cancel",
                        "class": "btn btn-default",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }, {
                        html: "<i class='fa fa-check'></i>&nbsp; Create",
                        "class": "btn btn-primary",
                        click: function () {
                            console.log("clicked create");
                            var title = $('#title').val(),
                                priority = $('input:radio[name=priority]:checked').val(),
                                description = $('#description').val(),
                                allday = $('#allday:checked').val(),
                                datefrom = $('#datefrom').val(),
                                timefrom = $('#timefrom').val(),
                                dateto = $('#dateto').val(),
                                timeto = $('#timeto').val();

                            addEvent(title, priority, description, allday, datefrom, timefrom, dateto, timeto);
                            console.log("check achievement");
                            //check if this is the first task created
                            $.getJSON("api/achievement/", function (data){
                              $.each(data, function (key, val) {
                                if (val.id == 1 && !val.achieved) {
                                  putToDatabase(val);
                                }
                              });
                            });



                            $(this).dialog("close");
                            location.reload();


                        }
                    }]
                });

                //Timepicker element in the add task modal
                $('#timepicker').timepicker();

                // Date Range Picker used in the add task modal
                $("#datefrom").datepicker({
                    changeMonth: false,
                    numberOfMonths: 1,
                    prevText: '<i class="fa fa-chevron-left"></i>',
                    nextText: '<i class="fa fa-chevron-right"></i>',
                    onClose: function (selectedDate) {
                        $("#to").datepicker("option", selectedDate);
                    }
                })

                // Date Range Picker used in the add task modal
                $("#dateto").datepicker({
                    defaultDate: "+1w",
                    changeMonth: false,
                    numberOfMonths: 1,
                    prevText: '<i class="fa fa-chevron-left"></i>',
                    nextText: '<i class="fa fa-chevron-right"></i>',
                    onClose: function (selectedDate) {
                        $("#to").datepicker("option", selectedDate);
                    }
                })
            });
        </script>

</body>

</html>
