<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manuel Create new TAsk</title>
</head>

<body>

<form  action="/api/" method="POST" >
    type:
    <select>
        <option value="task">Task</option>
        <option value="event">Event</option>
    </select> <br>
    Title:          <input type="text"     name="title" />          <br>
    Description:    <input type="text"     name="description" />    <br>
    Prio:           <input type="number"   name="prio" />           <br>
    ID:             <input type="number"   name="id" />             <br>
    Done:           <input type="checkbox"  name="done" />          <br>
    Start:          <input type="text"     name="start" />          <br>
    End:            <input type="text"     name="end" />            <br>
    Allday:         <input type="checkbox"  name="allday" />        <br>
    <input type="submit" value="Create task" />
</form>

</body>
</html>

