<!doctype html>
<html lang="en">

<head>
    <% include ../partials/htmlhead %>
</head>

<body class="no-menu smart-style-1">
<div>

    <!-- HEADER -->
    <% include ../partials/header %>
    <!-- END HEADER -->

    <!-- Left panel : Navigation area -->
    <% include ../partials/leftpanel %>
    <!-- END NAVIGATION -->

    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- MAIN CONTENT -->
        <div id="content">
         <p>progress page</p>
        </div>
    </div>

</div>